html{
    font-size: 10px;
}
body *{
    border: 2px solid;
}
.container{
    width: 600px;
    font-size: 10px;
}
.parent{
    width: 30em;
    font-size: 2em;
}
.child{
    width: 20rem;
    font-size: 2em;
}