:root{
    /* Color */
    --red-color:#d61727;
    --black-color:#303030;
    --purple-color:#38324e;
    --grey-dark-color:#909090;
    --grey-light-color:#e0e0e0;
    --white-color:#fff;

    /* Size */
    --padding:12px;

    /* Font size */
    --font-title:30px;
    --font-large:18px;
    --font-medium:14px;
    --font-small:12px;
    --font-micro:10px;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
}

header{
    display: flex;
    justify-content: space-around;
    padding: var(--padding);
    font-weight: bold;
    font-size: var(--font-large);
}
/* 사진??? */
.company{
    position: relative;
    background: url('./image/company.jpg');
    height: 500px;
}
.company .overlay{
    height: 500px;
    background-color: rgba(0, 0, 0, 0.5);
}
.company .intro{
    position: absolute;
    color: var(--white-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    text-align: center;
    font-weight: 700;
}

.introduce{
    display: flex;
    height: 250px;
    color: var(--white-color);
    position: relative;
}
.introduce .info{
    padding: var(--padding);
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translate(0, -50%); */
}
.introduce .title{
    font-size: 30px;
    margin-bottom: var(--padding);
}
.introduce .black{
    background: var(--black-color);
}
.introduce .red{
    background: var(--red-color);
}
.introduce .purple{
    background: var(--purple-color);
}

.information{
    height: 300px;
    position: relative;

}
.information .position{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* border: solid red 3px; */
}
.information .title{
    font-size: var(--font-title);
    margin-bottom: 30px;
    font-weight: bold;
}
.information .layout{
    display: flex;
}
.information .red-line{
    width: 100px;
    height: 5px;
    background-color: var(--red-color);
    flex:1 1 20%;
    margin-right: var(--padding);
}
.information .info{
    flex: 1 1 80%;
    padding-left:var(--padding);
}

.image-layout{
    background: var(--purple-color);
    position: relative;
    height: 700px;
}

.image-layout .container{
    display: grid;
    width: 70%;
    height: 90%;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3,1fr);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    gap:10px 10px;
}

.image-layout .item{
    position: relative;
}
.image-layout img{
    width: 100%;
    height: 100%;
}
.image-layout .item .info{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    padding: var(--padding);
}
.image-layout .item .title{
    font-size: 24px;
    margin-bottom: var(--padding);
}
.image-layout .item:nth-child(1){
    grid-row: 1/3;
}
.image-layout .item:nth-child(2){
    grid-row: 1/3;
}
.image-layout .item:nth-child(3){
    grid-row: 1/4;
    background: var(--white-color);
}
.image-layout .item:nth-child(4){
    background: var(--red-color);
    color: var(--white-color);
}

/* 정렬.................어캐해ㅠㅠ */
.reason{
    height: 500px;
    background-color: var(--red-color);
    position: relative;
}
.reason .container{
    height: 80%;
    width: 70%;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
    background: var(--white-color);
    display: flex;
    justify-content: space-between;
}
.reason .info{
    flex: 1 1 50%;
    padding: var(--padding);
    /* border: dodgerblue 3px solid; */
    position: relative;
}
.reason .info>.title{
    font-size: 24px;
    font-weight: bold;
}
/* 오버플로우?? */
.reason .info ul{
    position: absolute;
    transform: translate(30px,30px);
    
}


.reason .info li{
    display: flex;
    margin-bottom: 30px;
}
.reason .info i{
    color: var(--red-color);
    font-size: 30px;
}
.reason .info li span{
    padding-left: var(--padding);
}
.reason .info li span .title{
    font-size: 20px;
    margin-bottom: 18px;
    font-weight: bold;
}

.reason img{
    /* flex: 1 1 50%; */
}